@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: #1f1f1f;
}

header,
main,
footer {
    max-width: 1000px;
    margin: 1rem auto;
    border: 1px solid #6160614b;
    padding: 1rem;
    background-color: #616061;
}

h1,
h2 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 0px; /* zero because i dont like the border but to show that i can do the assignment with the desired format */
    background-color: #e7e5e5;
    margin: 0;
    border: 0px solid #ccc; /* zero because i dont like the border but to show that i can do the assignment with the desired format */
}

section a {
    display: block;
}

section img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    gap: 0;
}

nav ul.active {
    display: flex;
}

nav li {
    border-bottom: 1px solid #999;
}

nav li:last-child {
    border-bottom: none;
}

nav a {
    padding: 15px;
    color: black;
    text-decoration: none;
    display: block;
}

nav a:hover {
    text-decoration: underline;
    color: #333;
}

.menu-btn {
    cursor: pointer;
    border: 1px solid black;
    background-color: transparent;
    padding: 10px 15px;
    font-size: 16px;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

footer {
    text-align: center;
}

@media screen and (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    .menu-btn {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    nav li {
        border-bottom: none;
    }

    nav a {
        padding: 10px 15px;
    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
