body {
    background-color: #ddd;
    font-size: 20px;
}

#content {
    max-width: 60%;
    border: 1px solid darkgray;
    margin: 40px auto;
    padding: 50px;
}

p {
    color: #035f9c;
    font-size: 1.3em;
}

hr {
    height: 3px;
    background-color: #035f9c;
    width: 80%;
}

h1,h2,p {
    text-align: center;
    margin-top: 50px;
}

#topics {
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 55%;
}

.list {
    list-style-type: none;
}